.listitem-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
  background: white;
  padding: 1rem 1.5rem;
}

.listitem-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: white;
}

.listitem-btns{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background: white;
}

p{
  background: white;
  color: black;
}

.img-icons{
  border-radius: 20px;
  padding: 0.3rem;
  font-size: 30px;
  cursor: pointer;
}

.category-icon{
   background-color: rgb(160, 149, 149);
}

.delete-icon{
 background-color: rgb(233, 52, 52);
}

.edit-icon{
  background-color: rgb(228, 228, 69);
}

.listitem-details {
  background-color: white;
}


.listitem-details p{
  background-color: white;
}

@media screen and (max-width:1000px) {
   .listitem-wrapper{
    width:80vw;
   }
}

@media screen and (max-width:400px) {
   .listitem-wrapper{
    flex-direction: column;
   }
}